@page "/Info/{id:int}"
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject APIService APIService
@inject TeamProvider TeamProvider
@inject NavigationManager NavigationManager


<PageTitle>Info - @chosenTeam?.Name</PageTitle>

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor, .fa-coffee {
            font-size: 200px
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Aligned Text with Image</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .top-aligned {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px; /* Add some padding from the top */
        }

        .content {
            margin-bottom:10px; /* Space between text and image */
        }
    </style>
</head>

@if (teams is null)
{
    <h4>No team found for that id</h4>
}
else
{
    <header class="w3-container w3-@chosenTeam.PrimaryColour() w3-center" style="padding:80px 16px">
        <h1 class="w3-margin w3-jumbo">@chosenTeam?.Name</h1>
    </header>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/teams">Teams</a></li>
                <li class="breadcrumb-item active" aria-current="page">@chosenTeam!.Name</li>
            </ol>
        </nav>
    </div>
    <div class="container top-aligned margin-bottom">
        <div class="content text-center">
            <h1>Logo</h1>
            <img src="/logos/@chosenTeam.Logo" alt="Logo" width="400" height="400" class="img-fluid" />
        </div>
    </div>

    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center w3-padding">
               <img src="stadiums/@chosenTeam.Stadium" alt="stadium" width="600" height="600" class="img-fluid"/>
            </div>
            <div class="w3-twothird">
                <h1>The Team</h1>
                <h5 class="w3-padding-20">----------------------------------------------------------------------------------------------------</h5>
                <p>
                    The @chosenTeam.Name are 1 of 32 teams in the <strong>National Football league (NFL)</strong> formed in @chosenTeam.Date_founded<br />
                    <br />
                    From the first Monday of September onwards, every team will play 17 weeks including 1 bye week and host 8-9 weeks in their stadium.<br />
                    <br />
                    In this case for the @chosenTeam.Name, they play in the @chosenTeam.Stadium.
                </p>
            </div>
        </div>
    </div>

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Some More</h1>
                <h5 class="w3-padding-20">----------------------------------------------------------------------------------------------------</h5>
                <p>
                    Each team is allowed to have <strong>53</strong> players in their roster although only <strong>11</strong> are allowed to play at the time <br />
                    <br />
                    The NFL has 2 major conferences, the <strong>AFC</strong> nad the <strong>NFC</strong>, each one with 4 divisions with 4 teams in them <br />
                    <br />
                    Teams have fun mascots to cheer up fans during the game! The @chosenTeam.Name have @chosenTeam.Mascot
                </p>
            </div>
            <div class="w3-third w3-center">
                <img src="mascots/@chosenTeam.Mascot" alt="Mascot" width="400" length="400" />
            </div>
        </div>
    </div>
}
@if (@results != null)
{
    @results.name;
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Team? chosenTeam;

    private IEnumerable<Team> teams;

    private PlayerAPI? results;

    protected override async Task OnInitializedAsync()
    {
        teams = await TeamProvider.GetAllTeamsAsync();
        chosenTeam = teams.SingleOrDefault(p => p.Id == Id);

        results = await APIService.GetAsync<PlayerAPI>();
    }





}
