@page "/teams"
@using Microsoft.EntityFrameworkCore
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject TeamProvider TeamProvider
@inject NavigationManager NavigationManager

<PageTitle>Teams</PageTitle>

<h3>Teams</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Colours</th>
            <th scope="col">Macot</th>
            <th scope="col">Date Founded</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var team in teams) 
        @*Loops through every team in the database to display their properties*@        
        {
          <tr>
             <th scope="row">@team.Id</th>
             <td>@team.Name</td>
             <td>@team.Colours</td>
             <td>@team.Mascot</td>
             <td>@team.Date_founded</td>
             <td>@team.City</td>
             <td>
                 <button type="button" class="btn btn-secondary" @onclick="() => GoToTeamProfile(team)">Info</button>
             </td>
         </tr>
        }    
     </tbody>
</table>


@code {

    private void GoToTeamProfile(Team teams)
    {
        NavigationManager.NavigateTo($"/Info/{teams.Id}");
    }

    private IEnumerable<Team> teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await TeamProvider.GetAllTeamsAsync();
    } //gets teams from the database through the provider

    

}
